@model WorldCupContest.Models.RegisterTournament

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegisterTournament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tournamen Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TournamentName)
        </dd>
        <dt class = "col-sm-2">
            Tournament Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TournamentDate)
        </dd>
        <dt class = "col-sm-2">
            Away Home Game
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayHomeGame)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
